
@{
    ViewBag.Title = "RegisterUser";
}


<div class="col-xs-12 col-md-12">
    <h3>Register New User</h3>
    <form class="col-xs-12 col-md-4 col-md-offset-3">
        <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">First Name</label>
            <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Role</label><br>
            <label class="checkbox-inline">
                <input type="checkbox" value="">Admit
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">Clerk
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">Cocah
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">School
            </label>


        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Team</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Team">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">School</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="School">
        </div>


        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

