@model OCRC.Models.DummyDate

<body>

    Some text

        <div>@Html.LabelFor(model => model.FirstName)</div>
        <div>@Html.LabelFor(model => model.LastName)</div>
        <div>@Html.LabelFor(model => model.Id)</div>
        <div>@Html.LabelFor(model => model.Something)</div>

</body>