
@{
    ViewBag.Title = "Sport Search";
}


<div class="row">
    <!-- left section -->
    <div class="col-xs-12 col-md-2">
        <!-- Single button -->
        <div class="btn-group">
            <h3>Sport</h3>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by Sport Type <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li role="presentation" class="active"><a href="#">Basketball</a></li>
                <li role="presentation"><a href="#">Football</a></li>
                <li role="presentation"><a href="#">Pickleball</a></li>
                <li role="presentation"><a href="#">Basketball</a></li>
                <li role="presentation"><a href="#">Football</a></li>
                <li role="presentation"><a href="#">Pickleball</a></li>
            </ul>
        </div>


        <div class="btn-group">
            <h3>Filter</h3>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More Filter <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li role="presentation" class="active"><a href="#">School</a></li>
                <li role="presentation"><a href="#">Grade</a></li>
                <li role="presentation"><a href="#">Name</a></li>
                <li role="presentation"><a href="#">Age</a></li>
            </ul>
        </div>

    </div>
    <!-- right section -->
    <br>
    <div class="col-xs-12 col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

