
@{
    ViewBag.Title = "Sport Search";
}

<div class="col-md-2">

    <div class="row collapse navbar-collapse">
        <!-- filter start -->

       @Html.Partial("_SearchForm")

        <form class="form-inline">
            <h3>filter by sport</h3>
            <div class="form-group ">
                <label for="School" class="sr-only">School</label>
                <input type="text" class="form-control" placeholder="School">
            </div>
            <div class="form-group">
                <label for="Name" class="sr-only">Name</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Year" class="sr-only">Grade</label>
                <input type="text" class="form-control" placeholder="Grade">
            </div>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Age <span class="caret"></span>
            </button>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Search</button>



        </form>
    </div>

</div>

<div class="col-md-10 col-sm-12 col-xs-12">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>

</div>
